body{
    margin: 0;
    background: gray;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;

}


.App{
  display: flex;
  flex-direction: column;
  gap: 10px;  
}